html,
body {
	margin: 0;
	padding: 0;
}

html {
	font-size: 0.3em;
}

body {
	background-color: #171717;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.45;
	color: white;
	text-align: center;
	overflow-x: hidden;
}

p {
	margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
	margin: 1.414em 0 0.5em;
	font-weight: inherit;
	line-height: 1.2;
}

h1 {
	font-size: 3.998em;
	font-family: 'Michroma', sans-serif;
	letter-spacing: 5px;
	margin: 20px auto 0;
	max-width: 80%;
}

h2 {
	font-size: 2.827em;
}

h3 {
	font-size: 1.999em;
	font-weight: bold;
}

h4, p {
	font-size: 1.414em;
}

a {
	text-decoration: none;
}

#aboveTheFold {
	margin-top: 50px;
}

#aboveTheFold .content {
	padding: 5px 0;
}

#navbar {
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%
}

#navbar a {
	display: inline-block;
	color: #f2f2f2;
	text-align: center;
	padding: 12px 6px;
	text-decoration: none;
}

#links i {
	font-size: 25px;
	padding: 0 3px;
}

.container {
	width: 100%;
	text-align: left;
}

#mainImage {
	width: 100%;
	display: flex;
	flex: 1 1 33.333%;
	align-items: center;
}

#mainImage img {
	width: 33.333%;
	margin: 0;
}

#info {
	line-height: 1em;
}

#info h3 {
	display: inline-block;
	padding: 0px 6px;
}

.white {
	background: white;
	color: black;
}

.black {
	background: #171717;
	color: white;
}

#photos,
#contact,
#services {
	max-width: 1000px;
	width: 85%;
	margin: 0 auto;
	padding: 20px 0;
}

.active {
	border-bottom: 3px solid white;
}

#services {
	display: flex;
	flex-wrap: wrap;
	align-items: start;
}

#services div {
	flex: 1 1 calc(50% - 6px);
	min-width: 280px;
}

#services div:first-of-type {
	padding-right: 10px;
}


#photos .images .column {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	flex: 1 1 calc(33.333% - 6px);
	max-width: 100%;
	min-width: 200px;
	height: 100%;
	margin-right: 6px;
}

.column img {
	max-width: 100%;
	align-self: start;
	margin: 6px 0 0 0;
}

#photos .images {
	display: flex;
	flex-wrap: wrap;
}

#contact {
	padding: 50px 0 20px;
}

#contact h3 {
	margin-top: 20px;
}

#contact div {
	display: inline-block;
}

#contact p {
	margin: 3px 60px 3px 0;
	text-align: left;
}

#links {
	margin-bottom: 20px;
}

.fa {
	margin-right: 0.25rem;
}

a,
a:hover {
	color: white;
}

footer {
	text-align: center;
	margin: 0px auto;
	margin-bottom: 30px;
	padding: 10px 0;
	width: 100%;
}

footer p a,
footer p a:hover {
	text-decoration: underline;
}


/*0.625 is good for 1000*/
/*0.3 is good for phone*/
/*0.5 is good for 500+*/
/*0.6 is good for 700*/



@media only screen and (min-width: 400px) {
	html {
		font-size: 0.4em;
	}
}

@media only screen and (min-width: 550px) {
	html {
		font-size: 0.5em;
	}
}

@media only screen and (min-width: 700px) {
	html {
		font-size: 0.6em;
	}
}

@media only screen and (min-width: 1000px) {
	html {
		font-size: 0.625em;
	}
}

@media only screen and (max-width: 700px) {
	#mainImage img:nth-oftype(3) {
		display: none;
	}
	#mainImage img {
		width: 50%;
	}
}

@media only screen and (max-width: 500px) {
	#mainImage img:nth-of-type(2),
	#mainImage img:nth-of-type(3) {
		display: none;
	}
	#mainImage img {
		width: 100%;
	}
}